Cargo.lock
*.y4m
*.mkv
*.mp4
*.webm

# Dependencies
/dav1d
/FFmpeg
/libopusenc
/opus
/svt-av1-hdr
/svt-av1-essential
/5fish-svt-av1-psy
/svt-av1-tritium
/svt-av1-tritium-yis
/svt-av1-essential-yis
/Vship
/vulkan

# Build
/target

# Lib
/lib

# Environment
.vs
